<!DOCTYPE html>
<html>
<head>
    <title>Dell Time</title>
    <script type="text/javascript" src="index.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script type="text/javascript">
        function MainController($scope, $window) {
            $scope.submissions = [];
            $scope.AddMinutes = function(strTime, minutesToAdd) {
                $scope.submissions.push(
                    $window.AddMinutes(strTime, minutesToAdd)
                );
            };
        }
    </script>
</head>
<body ng-app>

    <div ng-controller="MainController">
        <form ng-submit="helloWorld = AddMinutes(userInput.time, userInput.minutesToAdd)">
            <input ng-model="userInput.time" type="text">
            <input ng-model="userInput.minutesToAdd" type="text">
            <input type="submit">
        </form>
        <p>
            <ul>
                <li ng-repeat="submission in submissions">{{ submission }}</li>
            </ul>
        </p>
    </div>

</body>
</html>